# .github/workflows/ci.yml
name: CI

on:
  push:
    branches: [ main ]
  pull_request:

env:
  NODE_VERSION: '20'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: yarn
          cache-dependency-path: yarn.lock

      - name: Install node.js dependencies
        run: yarn --frozen-lockfile

      - name: Lint / CI checks
        run: yarn ci-check

  type_check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: yarn
          cache-dependency-path: yarn.lock

      - name: Install node.js dependencies
        run: yarn --frozen-lockfile

      - name: Type check
        run: yarn type-check
